body{
    margin: 0px;
    background-color: #F4F3F4;
    font-family: sans-serif;
}

.container{
    
    max-width: 1200px;
    margin: auto;
}
/* NAVBAR - INIT */
.main-nav{
    background-color: #1e2125;
    color: white;
    height: 50px;
    display: flex;

}


.main-nav .links{
    float: right;
}

.main-nav .links a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
} 

.main-nav .container{
    width: 100%;
}

.main-nav .links #userLogged {
    font-weight: bold;

}
/* NAVBAR-END */

