.userList .container{
    background-color: white;
    border: 1px solid #dee2e6;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;

}

.userList .container table{
    width: 100%;
    text-align: left;
    /* background-color: red; */
    border-collapse: collapse;
    table-layout: fixed;
}

.userList .container table tbody tr{
    border-bottom: 1px solid #dee2e6;
}

.userList .container table thead tr{
    border-bottom: 1px solid black;
}

.userList .container table td, 
.userList .container table th {
    padding-top: 10px;
    padding-bottom: 10px;
}

.userList .container table td{
    font-weight: bold;
}

.userList .container table td a{
    font-weight: 100;
    text-decoration: none;
}

